.itemContainer {
    flex: 0 0 calc(50% - 40px);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin: 20px;
    overflow: hidden;
}

.itemImage {
    width: 100%;
    height: auto;
}


.itemContent {
    text-align: center;
    margin-top: 8px;
}

.itemName {
    font-size: 1em;
    font-weight: 600;
}

.buttonContainer {
    margin: 16px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.itemButton {
    border: none;
    outline: none;
    padding: 10px 12px;
    border-radius: 8px;
    color: #25257d;
    font-weight: 600;
    font-size: 16px;
    background-color: #9d9de1;
    cursor: pointer;
    opacity: 0.8;
}

.itemButton:hover {
    opacity: 1;
}

